{% extends 'accounts/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css'%}">

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container py-5" align="left">
  <form method="POST">
    {% csrf_token %}
    <p id="form_login">{{ login_form|crispy }}</p>
    <input align="left" id="login" type="image" src="static/accounts/img/login (1).png">
  </form>
</div>
 <a id="create" href="register" > <img id="register" src="static/accounts/img/reg3.png"> </a>
{% endblock %}