{% extends 'listWorkers/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css'%}">

{% endblock %}

{% block content %}
<img align="left" id="image3" src="/static/accounts/img/regist.png">
{% load crispy_forms_tags %}

<div class="container py-5" align="left">
	<form method="POST">
		{% csrf_token %}
		<p>{{ register_form|crispy }}<p>
		<input align="left" id="register" type="image" src="/static/accounts/img/registernow.png">
	</form>
</div>
<a id="login" href="{% url 'login'  %}" ><img align="left" id="logining" src="/static/accounts/img/login (1).png"></a>
{% endblock %}