{% extends 'listWorkers/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css'%}">

{% endblock %}

{% block content %}
<!--<img align="left" id="image" src="static/accounts/img/reg3.png"><br>-->
<img align="left" id="image3" src="static/accounts/img/regist.png">
{% load crispy_forms_tags %}
<!--Register-->

<div class="container py-5" align="left">
	<form method="POST">
		{% csrf_token %}
		<p>{{ register_form|crispy }}<p>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}