{% extends 'listWorkers/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/create_new team.css'%}">
{% endblock %}

{% block content %}
<a href="{% url 'logout' %}"><img align="right" src="/static/listWorkers/img/logout.png" id="logout">  </a>
<a href="{% url 'profile_user' %}"> <img id="back" src="/static/listWorkers/img/back2.png"> </a>

<h2 id="text_create">  Create new team </h2>

<form method="post" id="form_create">
{% csrf_token %}
    <p>{{form.name_team}}</p><br>
    <spam> {{ error }} </spam>
    <input align="right" id="add_team" type="image" src="/static/listWorkers/img/add.png">
</form>

<img align="right" id="newteam" src="/static/listWorkers/img/teams3.png">

{% endblock %}