{% extends 'listWorkers/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/list_workers.css'%}">
{% endblock %}

{% block content %}
    <h5> <a href="{% url 'profile_user' %}"> Back </a></h5>
    {% for item in name_admin %}
    <h1 id="info_admin"> Team Leader:  {{item.first_name}}  </h1>
     {% endfor %}
    {% for item in nameteam %}
    <h1 id="name_team"> Team:  {{item.name_team}}, {{item.id_admin}}  </h1>
     {% endfor %}
    <h1 align="right" id="create"><a href="{% url 'add_an_employee' id_team %}">Add new employee</a> </h1>
    <div id="block">
        <h3 id="workers"> Workers: </h3>
        {% for item in db %}
            <p> {{item.first_name}} {{item.last_name}}<br> Username-{{item.username}}</b></a></p>
        {% endfor %}
    </div>
{% endblock %}