{% extends 'listWorkers/base.html' %}
{% load static %}


{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/my_tasks.css'%}">
{% endblock %}

{% block content %}
<a href="{% url 'logout' %}"><img align="right" src="/static/listWorkers/img/logout.png" id="logout">  </a>
<a href="{% url 'profile_user' %}"> <img id="back" src="/static/listWorkers/img/back2.png"> </a>
<a href="{% url 'export_tasks' user.id %}"> <img id="export" src="/static/listWorkers/img/export_csv2.png"> </a>
<h2 id="taskWorker" align="left">Your tasks: {{info.name}}</h2>

    <div class="col-8 mt-5" id="create_task">
        <form class="form-inline justify-content-centr" id="createNewTaskForm" method="post" data-url="{% url 'my_tasks' user.id%}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mx-3">
                    {{ field }}
                </div>
            {% endfor %}
            <input id="createButton" align="right"  type="image" src="/static/listWorkers/img/add.png">
        </form>
    </div>

    <div class="col-5 mt-5" id="taskList">
        {% for task in tasks %}
            <div class="card mb-1" id="taskCard" data-id="{{ task.id}}" style="{% if task.completed %} text-decoration: line-through {% endif %}">
                <div class="card-body">
                    <p>Description: {{ task.description }}<br>Status: {{task.status}}<br>Categories: {{ task.categories }}<br>Date of completion: {{ task.date_of_completion }}<br> </p>

                    {% if task.id_creator == user.id %}
                        <button id="delete" type="button" class="close float-right" data-id="{{ task.id }}">
                            <span aria-hidden="true">&times;</span>

                        </button>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

<img align="right" id="todolist" src="/static/listWorkers/img/todolist.png">
{% endblock %}