{% extends 'listWorkers/base.html' %}
{% load static %}



{% block content %}
<h1 align="right"><a href="{% url 'profile_user' %} " id="back">Back </a></h1>
<h1><a href="{% url 'export_tasks'  id_worker %}" id="export">Export tasks </a></h1>
<h2 id="taskWorker" align="left">Tasks of the employee: {{info.name}}</h2>
<h3 id="newTask" align="center">Create new task</h3>

    <div class="col-8 mt-5">
        <form class="form-inline justify-content-centr" id="createNewTaskForm" method="post" data-url="{% url 'my_tasks' user.id%}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mx-3">
                    {{ field }}
                </div>
            {% endfor %}

            <button type="button" class="btn btn-outline-success mx-3" id="createButton"> create </button>
        </form>
    </div>

    <div class="col-5 mt-5" id="taskList">
        {% for task in tasks %}
            <div class="card mb-1" id="taskCard" data-id="{{ task.id}}" style="{% if task.completed %} text-decoration: line-through {% endif %}">
                <div class="card-body">
                    <p>Description: {{ task.description }}<br>Status: {{task.status}}<br>Categories: {{ task.categories }}<br>Date of completion: {{ task.date_of_completion }}<br></p>

                    {% if task.id_creator == user.id %}
                        <button type="button" class="close float-right" data-id="{{ task.id }}">
                            <span aria-hidden="true">&times;</span>

                        </button>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
<script src="{% static 'listWorkers/js/my_tasks.js' %}"></script>