{% extends 'listWorkers/base.html' %}

{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/profile_user.css'%}">
{% endblock %}


{% block content %}

<a href="{% url 'logout' %}"><img align="right" src="/static/listWorkers/img/logout.png" id="logout">  </a> <br>
<a id="new_teams" href="{% url 'create_new_team' id %}"><img align="right" id="newteam" src="/static/listWorkers/img/team4.png"></a>
<a id="mytask" href="{% url 'my_tasks' user.id %}"><img align="right" id="todo1" src="/static/listWorkers/img/todolist1.png"></a>


<h5 align="left" id="teams" > Teams: </h5>
    {% for item in teams %}
    <p><img id="teams2" src="/static/listWorkers/img/teams2.png"><a id="yourteam" href="{% url 'list_workers' item.id %}">{{item.name_team}} </a></p>
    {% endfor %}



<!--<img align="right" id="app" src="/static/listWorkers/img/appp.png">-->
<h4 id="all_employees" > All employees: </h4>
<a href="{% url 'rest' %}"> <img a src="/static/listWorkers/img/rest.png" id="rest"> </a>

{% endblock %}